<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Why'd you use profanity?</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="login-container">
      <h1>Credits</h1>
      <h2>Flask Backend:Maxwell Lin (GeneralAverage)</h2>
      <h2>CSS:Beckett Cornell</h2>
      <h2>HTML:Maxwell Lin (GeneralAverage) and Beckett Cornell</h2>
      <h2>Bug Testers:Alexander LaPuma</h2>
      <h1>And most importantly, thank YOU for visiting this website!</h1>
      <a href="/">
        <button class="button">Back</button>
      </a>
    </div>
  </body>
</html>
