<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You aren't logged in!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Your info is invalid due to the wrong password, wrong username, or if this username exists already.</h1>
        <a href="/">    
        <button class="back-button">Back</button>
        </a>
    </div>
</body>
</html>
